{% extends 'WindBookofdreamsBundle:Default:base.html.twig' %}

{% block body -%}
    <h1>Word creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('bookofdreams_word') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
